

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

main {
    background-color: #d37fb3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

span {
    color:black;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff9f;
    color: white;
}

footer {
    background-color: #98b3ee;
    color: black;
}

header h1 {
    font-family: 'Mynerve', cursive;
    text-align: center;
    color: black;
    margin: 0;
}

header .motto {
    font-style: italic;
}

nav {
    background-color: #98b3ee;
    color:#111111;
    font-family: 'Abel', sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0;
    line-height: 1.6;
}

nav li {
    display: none;
}

nav li:first-child {
    display: block;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    color:#111111
}

a {
    color:black;
}

.card {
    text-align: left;
    border: white dashed 2px;
    margin: 4rem 0;
    padding: 1rem;
    max-width: 900px;
}

.card-content {
    display: flex;
    flex-direction: column;
}
.card-content img {
    max-width: 300px;
    align-self: center;
}

.cloudy-logo{
    display: flex;
    justify-content: center;
}

table {
    display: table;
}

td, th{
    width: 150px;
    border: 1px solid black;
}

.container-table {
    margin-top: 1rem;
}

.primary-background {
    background-color: #FB5607;
    text-align: center;
}

.secondary-background {
    background-color: #d37fb3;
    text-align: center;
}

.accent1-background {
    background-color: #167973;
    text-align: center;
}

.accent2-background {
    background-color: #d37fb3;
    text-align: center;
}

.expand-menu li {
    display: block;
}

.expand-menu li:first-child a{
    color: #111111;
    text-decoration: none;
}

.banner-hero{
    position: relative;
}

.banner-hero img {
    width: 100%;
}

.weather {
    text-align: center;
    margin-right: 35px;
    top: 20px;
    left: 20px;    background: #d37fb3;
    border-top: 2px dashed white;
    border-left: 2px dashed white;
    padding: 10px;
    box-shadow: 4px 4px 0 0 white;
    opacity: .90;
    max-height: 217px;
    line-height: .5;
}

#forecast {
    display: none;
}

.social-link img{
    width: 25px;
}

.contact-info{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#banner-top{
    display: none;
    text-align: center;
}
.motto {
    color:black
}

#fri img {
    width:150px;
    height:100px;
    justify-content: center;
    justify-items: center;
}

#fri {
    color:black

}

#sat img {
    width:150px;
    height:100px;
    justify-content: center;
    justify-items: center;
}

#sat {
    color:black
}

#sun img {
    width:150px;
    height:100px;
    justify-content: center;
    justify-items: center;
}

#sun {
    color:black
}

tbody tr {
    color:black
}

#mon img {
    width:150px;
    height:100px;
    justify-content: center;
    justify-items: center;
}

#tue img {
    width:150px;
    height:100px;
    justify-content: center;
    justify-items: center;
}

#mon{ 
    color:black
}

#tue{ 
    color:black
}

.card img {
    width: 450px;
    height: 300px;
    margin-left: 220px;
    
}

.card h2 {
    text-align: center;
    
}

.card img {
    width: 300px;
    height: 200px;
    margin-left: 80px;
    
}

.logo {
    height:150px;
}

section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
    
    
}

.thephoto{
    
    border: 2px solid black;
    height: 250px;  
    width: 350px;
    margin: 10px;
    
}

.mapouter{position:relative;text-align:right;height:100%;width:100%;}

.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
