/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px
*/

@media (min-width: 1000px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    
    nav li {
        margin-right: 1rem;
        display: flex;
    }
    
    nav li:first-child {
        display: none;
    }

    nav li:last-child {
        margin-right: 0;
    }

    .weather-summary {
        top: 35px;
        left: 35px;
        padding: 1rem 2.5rem;
        line-height: 1;
        max-height: 100%;
    }

    #forecast {
        display: block;
    }

    .card-content {
        flex-direction: row;
    }

    .card-content img {
        margin-bottom: -3rem;
    }

    .social-link img{
        width: 50px;
    }

    .contact-info{
        display: flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .card img {
        width: 450px;
        height: 300px;
        margin-left: 220px;
        
    }

    .logo {
        height:150px;
    }

    section{
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
        
    }
    
    .thephoto{
        
        border: 4px solid black;
        height: 450px;  
        width: 600px;
        margin: 10px;
    
    }
    .discover{
        color:black;
    }
}
