@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Nunito:ital,wght@1,200&family=Sofia+Sans:wght@100&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    background-color:gainsboro
}

img{
    width:350px;
    height: 550px;
    display: grid;
}
head {
    text-align: center;  
    border: 12px solid black; 
}

div {
    background-color: blue;
    text-align: center;
    color: whitesmoke;
    font-size: 45px;
}

footer{
    
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    color: whitesmoke;
}

ul {
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 850px;
    
}

li {
    margin: 10px;
}


/* smartphone view*/
@media (max-width:600px) and (min-width:100px){
    main{
        font-size:15px;
        
       
       
    }
    
    ul{
        display: block;
        
    }

    div {
        font-size: 15px;
        
    }

    img {
        height: 550px;
        width:90%;
        
    }

    footer {
        font-size: 15px;
    }
    
    h2 {
        background-color:blue;
        color: white;
    }
       
}

/* tablet view*/
@media (max-width:1100px) and (min-width:601px){
    main{
        font-size:15px;
        
       
    }
    
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 850px;
        
        
    }

    div {
        font-size: 20px;
        
    }

    footer {
        font-size: 20px;
    }
    
    h2 {
        background-color:blue;
        color: white;
    }
    
    span {
        border: 15px solid black;
        
    }

}